/* You can add global styles to this file, and also import other style files */

button {
  margin: 0.5rem;
  padding: 0.5rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.border-blue {
  border: 1px solid blue;
}

.component-marker {
  border: 1px solid orange;
  background-color: lightgray;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}
